tools/c2
tools/c3
tools/referenceVideos
.DS_Store
__pycache__
artifacts/
dataset/
dataset/images/
dataset/labels/
dataset/images_raw/
dataset/labels_raw/
dataset/reports/
dataset/splits/
*.pt
.venv310
.venv*
*.mlpackage
*.mlmodel
*.onnx
